*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #E25E3E;
    height: 100vh;
}
.header{
    padding: 40px 0px;
    margin: 0px 8px;
    transform: translate(0px,10px);
    text-align: center;
    background-color: #176B87;
}

.menu{
    background-color: #EEEEEE;
    padding: 25px 0px;
    margin: 0px 8px;
    text-align: center;
    transform: translate(0px,20px);
}

.left-pad{
    background-color: #A2C579;
    padding: 170px 0px;
    margin: 30px 8px;
    margin-right: 1000px;
    text-align: center;
}

.right-pad{
    background-color: #8ECDDD;
    padding: 169px 0px;
    margin-left: 380px;
    margin-right: 10px;
    transform: translate(0px,-387px);
    text-align: center;
}

.footer{
    background-color: #B9B4C7;
    padding: 28px 0px;
    margin: -373px 8px;
    text-align: center;
}